<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>meet app</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">

</head>

<body>

        
            <div class="d-flex" id="wrapper">
                <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary text-center m-3" data-toggle="modal" data-target="#calendar-popup-2">
Meeting Popup
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="calendar-popup-2" tabindex="-1" role="dialog" aria-labelledby="calendar-popupTitle-2"
                     aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <ul>
                                <li><i class="fas fa-pencil-alt"></i></li>
                                <li><i class="fas fa-trash-alt"></i></li>
                                <li><i class="fas fa-envelope"></i></li>
                                <li><i class="fas fa-ellipsis-v"></i></li>
                            </ul>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                    
                                    
                                        
                                            <ul>
                                                <li><i class="fas fa-copy"></i>
                                                    <div class="demo-r">
                                                        <span>Demo</span>
                                                        Jul 4, 2020 5:15 PM - 6: 15 PM Jul 4,2020    
                                                    </div>
                                                </li>
                                                <li><i class="far fa-clock"></i> 
                                                    <div class="demo-r">
                                                        <button type="button">Join With ou app</button> 
                                                        
                                                        <p><img src="images/user.png" class="img-fluid" alt="icon" /> test@gmail.com</p>
                                                        <p><img src="images/user.png" class="img-fluid" alt="icon" /> test@gmail.com</p>
                                                    </div>
                                                </li>
                                                
                                                <li><i class="fas fa-bell"></i></i>
                                                    <div class="demo-r">
                                                        30 miniuts before
                                                    </div>
                                                </li>
                                                <li><i class="fas fa-calendar-alt"></i></i>
                                                    <div class="demo-r">
                                                        test name
                                                    </div>
                                                </li>
                                            </ul>
                                       
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                        </div>
                    </div>
            </div>
              <!-- /#wrapper -->

    <script src="js/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>
    

</body>

</html>