<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>meet app</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">

</head>

<body>
    <div class="d-flex" id="wrapper">
                <!-- Page Content -->
                <div id="page-content-wrapper">
                  <div class="container-fluid px-0">
                    <div class="video-show" >
                        <ul id="menu-toggle">
                            <li><i class="fas fa-users"></i> </li>
                            <li><i class="fas fa-comment-alt"></i> </li>
                            <li>05:14</li>
                            <li>
                              <img src="images/video-thumnail.jpg" class="img-fluid" alt="image" />
                            </li>
                            <li>
                                <i class="fas fa-ellipsis-h"></i>
                                <div class="main_prof"></div>
                                <span>you</span>
                            </li>
                        </ul>
                        <div class="row double-screen">
                          <div class="w-100">
                              <img src="images/refer.jpg" class="img-fluid" alt="images" />
                          </div>
                         
                      </div>
                      <button id="show" class="btn">Show</button>
                    </div>


                    <!-- bottom content -->
                    <div class="video-bar">
                     
                      <div class="row">
                        <div class="col-md-4 b_meet_dts my-auto">
                          <div class="panel">
                            <h4 id="btn">Meeting details <i class="fas fa-chevron-circle-down"></i></h4>
                          </div>
                           <!-- popup attachement -->
                           <div id="attachments" class="showup"> 
                                <nav>
                                  <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" 
                                    aria-controls="nav-home" aria-selected="true"><i class="fas fa-info"></i> Details</a>
                                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" 
                                    aria-controls="nav-profile" aria-selected="false"><i class="fas fa-paperclip"></i> Attachement</a>
                                  </div>
                                </nav>
                                <div class="tab-content" id="nav-tabContent">
                                  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                    <h4>Joining Info</h4>
                                    <span>https://meet.google.com/awa-typa-yak</span>
                                    <h6><i class="far fa-copy"></i> Copy Joining Info</h6>
                                  </div>
                                  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                    <span>Google calendar attachement showup here</span>
                                  </div>
                                </div>
                            </div>
                            <!-- @end -->
                        </div>
                        <div class="col-md-4 b_actions text-center my-auto">
                          <ul class="mb-0">
                            <li data-toggle="modal" data-target="#camera"><i class="fas fa-microphone"></i></li>
                            <li data-toggle="modal" data-target="#call-actions"><i class="fas fa-phone-alt"></i></li>
                            <li id="v-icons"><i class="fas fa-video"></i></li>
                        </ul>
                        
                        </div>
                        <div class="col-md-4 b_captions">
                          <ul class="mb-0">
                            <li><i class="far fa-closed-captioning"></i> Turn on captions</li>
                            <li id='present-btn'><i class="far fa-caret-square-up"></i> Present Now</li>
                            <li id='b_pop-btn'><i class="fas fa-ellipsis-v"></i></li>
                          </ul>
                          <!-- popup presents -->
                          <div id="present" > 
                            <h5>Present</h5>
                            <ul>
                                <li><i class="far fa-window-restore"></i> Your entire screen</li>
                                <li><i class="fas fa-desktop"></i> A window</li>
                                <li><i class="fab fa-chromecast"></i> A Chrome tab</li>
                            </ul>
                        </div>
                        <!-- @end -->
                          <!-- popup dots -->
                          <div id="b_pop" > 
                            <ul>
                                <li><i class="far fa-window-restore"></i> Change Layout</li>
                                <li><i class="fal fa-expand"></i> Full Screen</li>
                                <li><i class="far fa-closed-captioning"></i> Turn on caption</li>
                                <li class="border-bottom" data-toggle="modal" data-target="#setting_popup">
                                  <i class="fas fa-cog"></i> Settings</li>
                                <li><i class="fas fa-exclamation-circle"></i> Report a problem</li>
                                <li><i class="fas fa-exclamation-triangle"></i> Report abuse</li>
                                <li><i class="far fa-question-circle"></i> Help</li>
                            </ul>
                        </div>
                        <!-- @end -->
                        </div>
                      </div>
                    </div>
                    
                  </div>
                </div>
                <!-- /#page-content-wrapper -->


                <!-- Sidebar -->
                    <div class="bg-light border-right" id="sidebar-wrapper">
                        <div class="sidebar-heading">Meeting details <span id="close">X</span></div>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                              <a class="nav-link active" id="people-tab" data-toggle="tab" href="#people" role="tab" 
                              aria-controls="people" aria-selected="true"><i class="fas fa-user-friends"></i> People</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="chat-tab" data-toggle="tab" href="#chat" role="tab" 
                              aria-controls="chat" aria-selected="false"><i class="fas fa-comments"></i> Chat</a>
                            </li>
                          </ul>
                          <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="people" role="tabpanel" aria-labelledby="people-tab">
                              <h4 data-toggle="modal" data-target="#add-people"><i class="fas fa-user-plus"></i> Add People</h4>
                              <ul>
                                <li><div class="profile_m_img"></div> <span> user name 1 (you)</span> </li>
                                <li><div class="profile_m_img"></div> <span> user name 2 </span> </li>
                                <li><div class="profile_m_img"></div> <span> user name 3 (you)</span> </li>
                                <li><div class="profile_m_img"></div> <span> user name 4 (you)</span> </li>
                              </ul>
                              <ul class="add_peo_li">
                                <li><i class="fas fa-thumbtack"></i></li>
                                <li><i class="fas fa-microphone"></i></li>
                                <li><i class="fas fa-window-minimize"></i></li>
                              </ul>
                            </div>
                            <div class="tab-pane fade" id="chat" role="tabpanel" aria-labelledby="chat-tab">
                              <div class="card bg-transparent border-0 p-2">
                                <ul class="chat-history">
                                  <li class="you">you 9.25 pm
                                    <p>Hello</p>
                                  </li>
                                  <li class="opont">test 9.25 pm
                                    <p>Hey Hi how r u</p>
                                  </li>
                                </ul>
                              </div>
                              <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Send message to everyone" 
                                aria-label="Recipient's username" aria-describedby="button-addon2">
                                <div class="input-group-append">
                                  <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fas fa-paper-plane"></i></button>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                    <!-- /#sidebar-wrapper -->

                    <!-- Add people -->
                    <div class="modal fade" id="add-people" tabindex="-1" role="dialog" 
                    aria-labelledby="add-peopleLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="add-people">Add people</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <nav>
                              <div class="nav nav-tabs text-center" id="nav-tab1" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                                 role="tab" aria-controls="nav-home" aria-selected="true"><i class="fas fa-user-plus"></i> Invite</a>                              </div>
                            </nav>
                            <div class="tab-content text-center" id="nav-tabContent1">
                              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <input type="text" placeholder="Enter name or Email" />
                                <ul>
                                  <li><img src="images/user.png" class="img-fluid" alt="img"> <span> user name details (you)</span> </li>
                                  <li><img src="images/user.png" class="img-fluid" alt="img"> <span> user name details 1</span> </li>
                                  <li><img src="images/user.png" class="img-fluid" alt="img"> <span> user name details 2</span> </li>
                                  <li><img src="images/user.png" class="img-fluid" alt="img"> <span> user name details 3</span> </li>
                                  <li><img src="images/user.png" class="img-fluid" alt="img"> <span> user name details 4</span> </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn cus_btn" >Send Mail</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- @end -->

                
                    <!-- call action popup -->
                      <div class="modal fade" id="call-actions" tabindex="-1" role="dialog" aria-labelledby="call-actionslLabel" 
                      aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-body">
                              <h3>You left the meeting</h3>
                              <ul>
                                <li><button>Rejoin</button></li>
                                <li><button>Return to home screen</button></li>
                              </ul>
                              <div class="card">
                                <h5>How was the audio and video?</h5>
                                <ul>
                                  
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star-half-alt"></i></li>
                                  <li><i class="far fa-star"></i></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    <!-- @end -->

                    <!-- settings popup -->
                    <!-- Modal -->
                    <div class="modal fade" id="setting_popup" tabindex="-1" role="dialog" 
                    aria-labelledby="setting_popupTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-body">
                            <nav>
                              <div class="nav nav-tabs" id="nav-tab-3" role="tablist">
                                <a class="nav-item nav-link active" id="audio-home-tab" data-toggle="tab" href="#audio-home" role="tab" aria-controls="nav-home" aria-selected="true"><i class="far fa-stop-circle"></i> Audio</a>
                                <a class="nav-item nav-link" id="video-profile-tab" data-toggle="tab" href="#video-profile" role="tab" aria-controls="nav-profile" aria-selected="false"><i class="fas fa-video"></i> Video</a>
                                <a class="nav-item nav-link" id="general-contact-tab" data-toggle="tab" href="#general-contact" role="tab" aria-controls="nav-contact" aria-selected="false"><i class="fas fa-cog"></i> General</a>
                              </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent-3">
                              <div class="tab-pane fade show active" id="audio-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <ul>
                                  <li><h5>Microphone</h5>
                                    <div class="row">
                                      <div class="col-md-8">
                                        <select>
                                          <option>Communications - Microphone (Audio HD)</option>
                                          <option>Default - Microphone (Audio HD)</option>
                                          <option>Microphone (Audio HD)</option>
                                        </select>
                                      </div>
                                      <div class="col-md-4">
                                        <i class="fas fa-microphone"></i>
                                        <i class="fas fa-ellipsis-h"></i>
                                      </div>
                                    </div>
                                  </li>
                                  <li><h5>Speakers</h5>
                                    <div class="row">
                                      <div class="col-md-8">
                                        <select>
                                          <option>Communications - Speakers (Audio HD)</option>
                                          <option>Default - Speakers (Audio HD)</option>
                                          <option>Speakers (Audio HD)</option>
                                        </select>
                                      </div>
                                      <div class="col-md-4">
                                        <i class="fas fa-volume-up"></i>
                                        Test
                                      </div>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                              <div class="tab-pane fade" id="video-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <ul>
                                  <li><h5>Camera</h5>
                                    <div class="row">
                                      <div class="col-md-8">
                                        <select>
                                          <option>Lenovo Easy Camera </option>
                                        </select>
                                      </div>
                                      <div class="col-md-4">
                                        <button type="button">Camera is Off</button>
                                      </div>
                                    </div>
                                  </li>
                                  <li><h5>Send resolution maximum</h5>
                                    <div class="row">
                                      <div class="col-md-12">
                                        <select>
                                          <option>Standard definition </option>
                                          <option>High definition </option>
                                        </select>
                                      </div>

                                    </div>
                                  </li>
                                  <li><h5>Receive resolution maximum</h5>
                                    <div class="row">
                                      <div class="col-md-12">
                                        <select>
                                          <option>Standard definition </option>
                                          <option>High definition </option>
                                          <option>Audio </option>
                                        </select>
                                      </div>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                              <div class="tab-pane fade" id="general-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                  <label class="form-check-label" for="inlineCheckbox1">Report Additional diagnostics to help improve this product</label>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn" data-dismiss="modal">Done</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <!-- @end -->
            
                    <!-- popup for camera -->
                    
                    <div class="modal fade" id="camera" tabindex="-1" role="dialog" aria-labelledby="camera_main" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                          <div class="modal-header text-center border-0">
                          <h5 class="modal-title" id="camera_main">Your mic is muted by your system settings</h5>
                          
                          </div>
                          <div class="modal-body">
                              <p>Go to your computer's settings to unmute your mic and adjusts its level</p>
                          </div>
                          <div class="modal-footer border-0">
                          <button type="button" class="btn" data-dismiss="modal">Dissmiss</button>
                          <button type="button" class="btn">Learn More</button>
                          </div>
                      </div>
                      </div>
                  </div>
          <!-- @end -->

              </div>
              <!-- /#wrapper -->

    <script src="js/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>

</body>

</html>